
.popup__container_delete {
    padding: 0px 36px;
    border-radius: 10px;
    position: relative;
    background-color: white;
    min-width: 358px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:600px) {
    .popup__container_delete {
        padding: 0 22px 0;
        min-width: 238px;
    }
}
